<!--<h2>Bus Stops</h2>-->

<!--<div class='stops'>-->
<!--  <ul>-->
<!--    <li *ngFor="let stop of stops">-->
<!--          <span>Bus Id: {{stop.bus.id}} | Bus Capacity: {{stop.bus.capacity}} | Station Id: {{stop.busStation.id}} | Station Name: {{stop.busStation.name}} | Stop Time: {{stop.stopTime}}</span>-->

<!--          <button class="delete" title="delete stop"-->
<!--                  (click)="deleteStop(stop.bus.id, stop.busStation.id)">Delete</button>-->
<!--    </li>-->
<!--  </ul>-->

<!--</div>-->


<app-stop-list></app-stop-list>
