
<h2 class="category">Cities</h2>
<div class="crud">
  <section id="update_form" style="float: left; padding-left: 50px; padding-top: 40px">
    <form action="" method="get">
      <input id="id2" type="text" #uID placeholder="id" readonly style="margin: 5px; width: 191px">
      ID<br>
      <input id="name2" type="text" #uName placeholder="name" style="margin: 5px; width: 191px">
      Name<br>
      <input id="population2" type="text" #uPopulation placeholder="population" style="margin: 5px; width: 191px">
      Population<br>
      <button id="submitUpdateBtn" style="margin-top: 10px" (click)="updateCity(uID,uName, uPopulation)">
        Update</button>
    </form>
  </section>
</div>


