
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="BusCompany Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <div class="spacer"><button type="button">Home</button>
    &nbsp;&nbsp;&nbsp;</div>
  <span> Welcome to the {{title}}! &nbsp;(author: {{author}})</span>
</div>
<nav>
  <a routerLink="/cities" routerLinkActive="active">Cities</a>
  <a routerLink="/stops" routerLinkActive="active">Bus Stops</a>
  <a routerLink="/buses" routerLinkActive="active">Buses</a>
  <a routerLink="/stations" routerLinkActive="active">Bus Stations</a>
</nav>
<br><br><br>
<router-outlet></router-outlet>
